<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="api.ApiVelsRunner"/>
      <class name="com.greens.ReqRes"/>
      <class name="com.greens.JsonPath"/>
      <class name="com.sede.Serilalization_Deserilization"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
